body {
  /*text-align: center;*/
  background-color: rgb(10, 128, 192);
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.favbutton {
  padding: 15px;
  background-image: radial-gradient(rgba(255,255,255,0.8) 20%, rgba(0,0,0,.3) 80%);
  border-radius: 100px;
  border: 1px solid black;
}
.fav {
  border-radius: 15px;
  font: 20px;
}
.drinklink {
  /*display: grid;*/
}
.drinkImg {
  /* grid-template-columns: auto auto auto; */
  position: relative;
  top: 1px;
  
  height: 70px;
  width: 70px;
  margin: 0 auto;
}
.drinklist {
  height: 80px;
  width: 150px;
  display: inline-flex;
  text-align: center;
  border: 1px solid black;
  margin: 2px;
  justify-content: center;
  align-content: center;
  
}





